body {
    
}

p {

}

div {
    border: 10px;
    border-color: blue;
}

#Changelog1 {
    border: 10px;
    border-color: blue;

}

#Changelog2 {
    border: 10px;
    border-color: blue;
}


.Changelog1 {
    border: 10px;
    border-color: blue;

}

.Changelog2 {
    border: 10px;
    border-color: blue;
}
